# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# save-place file
places

# elpa files
elpa-*
elpa/*
elpy/

# plugin cache files
.smex-items
smex-items
ac-comphist.dat

.historian
recentf

# eshell
eshell/

# tutorial
tutorial/

custom.el

ede-projects.el
games
projectile-bookmarks.eld
semanticdb/
transient/
