# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# save-place file
places

# elpa files
elpa-*
elpa/*

# plugin cache files
.smex-items
ac-comphist.dat

.historian
recentf

# eshell
eshell/

# tutorial
tutorial/

custom.el
